.sidebar{
    color: white !important;
    margin-top: 15vh !important;
}
.sidebar .header {
    color: white !important;
    margin-bottom: 1.5vh !important;
}
.sidebar .menu1{
    /* margin-top: 1vh !important; */
    margin-bottom: 2vh !important;
    text-align: center !important;
}
.sidebar .menu2{
    margin-top: 5vh !important;
    margin-bottom: 1vh !important;
    text-align: center;
}
.sidebar .ico1{
    margin: 2vh !important;
    font-size:2em !important;
    color: white !important;
}
.sidebar .ico2  {
    /* margin-top: 5vh !important; */
    margin-left: 2vh !important;
    margin-right: 2vh !important;
    margin-bottom: 4vh !important;
    font-size:2em !important;
    color: white !important;
}
/* .sidebar a{
    text-decoration: none !important;
} */

/* HOME */
/* .home .header{
    margin-bottom: 1em !important;
} */

.home .icons {
    margin-top: 0.5em !important;
    color: white !important;
    font-size: x-large !important;
}
/* Education */
.education .header{
    margin-bottom: 1em !important;
}
/* WorkEx */
.workx .header{
    margin-bottom: 1em !important;
}
/*About */
/* .about{
    padding: 2vh !important;
} */
.about .header{
    margin-bottom: 1vh !important;
}
.about .desc{
    text-align: justify !important;
    font-size: 20px !important;
    line-height: 1.2em !important;
}
.about .chart{
    margin-top: 2vh !important;
}
/* toggle-button */
.toggleButton{
    float: right !important;
    margin-top: 0.6vh !important;
    padding-top: 0.5vh !important;
    
}
/* .home .seg{
    background-color: black !important;
} */

@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
      display: none !important;
    }
}